@tailwind base;
@tailwind components;
@tailwind utilities;
.MuiCardHeader-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.MuiCard-root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .show-on-large {
    display: block;
  }
}

.show-on-large {
  display: none;
}
